<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://unpkg.com/antd@3.9.3/dist/antd.min.css"/>
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://cdn.bootcss.com/babel-standalone/6.26.0/babel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script src="https://unpkg.com/antd@3.9.3/dist/antd.min.js"></script>
    
    <title>NBA Database</title>
</head>

<body style="display: flex;background-color:#1a1a1a" >
   
    
    <script type="text/babel">
        ReactDOM.render(
          <div style = { {"width":"300px",margin: "0 auto"} }>
            <div style = { {"font-size":"70px","margin":"0px 20px","color":"white"} }>NBA Database</div>
            <form action="/write" method="post">
                <antd.Button type="primary" htmlType="submit" size="large" block style={ {marginBottom: 30,marginTop: 50} }>Write</antd.Button>
            </form>
            <form action="/modify" method="post" >
                <antd.Button type="primary" htmlType="submit" size="large" block style={ {marginBottom: 30} }>Modify</antd.Button>
            </form>
            <form action="/delete" method="post">
                <antd.Button type="primary" htmlType="submit" size="large" block style={ {marginBottom: 30} }>Delete</antd.Button>
            </form>
            <form action="/query" method="post">
                <antd.Button type="primary" htmlType="submit" size="large" block >Query</antd.Button>
            </form>
          
          </div>,
          document.getElementById("app")
          )
    </script>
    <div id="app" style="width: 400px;"></div>
    <div style="float:right;">
        <img src="bg_img/index.jpg" width="900" height="675" alt="Kobe">
    </div>
    
    

</body>

</html>